{% extends 'base.html.twig' %}

{% block title %}Two‑Factor Authentication{% endblock %}

{% block body %}

    {% for warning in app.flashes('warning') %}
    <div>
        warning : {{ warning }}
    </div>
    {% endfor %}

     {% for success in app.flashes('success') %}
     <div>
        success : {{ success }}
     </div>
    {% endfor %}

     {% if authenticationError %}
        {# <div class="alert alert-danger">
            {{ authenticationError|trans({}, 'SchebTwoFactorBundle') }}
        </div> #}

        <div class="alert alert-warning">
            Code expiré. Veuillez en demander un nouveau.
        </div>

        <a href="{{ path('app_resend_code_2fa') }}" class="btn btn-primary">
            Renvoyer le code
        </a>
    {% endif %}


    <h1>Two‑Factor Authentication</h1>

    <p>
        We’ve sent a verification code to your email address.
    </p>

    <form method="post" action="{{ path("2fa_login_check") }}">

        {# ✅ CSRF token obligatoire #}
        <input type="hidden"
               name="_csrf_token"
               value="{{ csrf_token('authenticate_2fa') }}"
        >
        <div>
            <label for="_auth_code">Verification code</label>

            <input
                type="text"
                id="_auth_code"
                name="_auth_code"
                inputmode="numeric"
                autocomplete="one-time-code"
                required
                autofocus
            >
        </div>
        <div>
            <button type="submit" class="btn">Verify</button>
        </div>
       
    </form>

    <div class="row">
        <div class="column">
            <a href="{{path("app_logout")}}">Annuler</a>
        </div>
        <div class="column">
            <form action="{{path("app_resend_code_2fa")}}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('resend-2fa') }}">
                <button type="submit">Resend 2fa</button>
            </form>

        </div>
      </div>

{% endblock %}